.wrapper {    
	margin-top: 80px;
	margin-bottom: 20px;
}

.form-signin {
  max-width: 420px;
  padding: 30px 38px 66px;
  margin: 0 auto;
  background-color: #eee;
  border: 3px dotted rgba(0,0,0,0.1);  
  }

.form-signin-heading {
  text-align:center;
  margin-bottom: 30px;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

input[type="text"] {
  margin-bottom: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.colorgraph {
  height: 7px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}
@-webkit-keyframes argh-my-eyes {
	    0%   { background-color: #ff0000;color: #000; }
	    49% { background-color: #ff0000;color: #000; }
	    50% { background-color: #000;color:#ff0000; }
	    99% { background-color: #000;color:#ff0000; }
	    100% { background-color: #ff0000;color: #000; }
	  }
	  @-moz-keyframes argh-my-eyes {
	    0%   { background-color: #ff0000;color: #000; }
	    49% { background-color: #ff0000;color: #000; }
	    50% { background-color: #000;color:#ff0000; }
	    99% { background-color: #000;color:#ff0000; }
	    100% { background-color: #ff0000;color: #000; }
	  }
	  @keyframes argh-my-eyes {
	    0%   { background-color: #ff0000;color: #000; }
	    49% { background-color: #ff0000;color: #000; }
	    50% { background-color: #000;color:#ff0000; }
	    99% { background-color: #000;color:#ff0000; }
	    100% { background-color: #ff0000;color: #000; }
	  }
	  .blink {
	  -webkit-animation: argh-my-eyes 1s infinite;
	  -moz-animation:    argh-my-eyes 1s infinite;
	  animation:         argh-my-eyes 1s infinite;
	}