@import 'https://fonts.googleapis.com/css?family=Roboto';
@import 'https://fonts.googleapis.com/css?family=Droid+Serif';
@import url('https://fonts.googleapis.com/css?family=Quicksand');

html, body {
	margin: 0;
	padding: 0;
	/*background-image: url('../images/bg_grey.jpg');*/
}

p{
	font-size: 1.2em;
	/*font-family: 'Quicksand', sans-serif;*/
	/*line-height: 175%;*/
}

h1 {
	margin: 0 0 20px 0;
	font-family: 'Droid Serif', sans-serif;
	font-weight: 700;
}
.background-div {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 300px;
	background-color:#eee;
}

.banner-container {
	padding: 0;
}

.main-container {
	padding-top: 20px; 
	background-color: #fff;
}

.container-org{
height:300px;
padding:35px;
margin-top:30px;
	font-family: 'Droid Serif', sans-serif;
	font-weight: 700;
}
.container-fluid {
	position: relative;

	width: 100%;
}

.spacer {
	height: 90px;
}

.page-header {
	margin: 0;
}

.page-header .row {
}

.page-header small {
	font-size: 12px;
}

.table-striped {
	border: 1px solid #ccc;
}

.footer {
	padding-top: 20px;
	background-color: #1d1d1d;
	color: #fff;
}

.heading {
	padding: 40px 0 20px 0px;
}

.breadcrumb {
	padding: 15px 0 15px 0;
	background-color: transparent;
	border-bottom: 1px solid #ececec;
}

.basket {
	width: 100%;
	min-height:700px;
}

/*//////// TEXTS /////////////*/

.white-text {
	color: #fff;
}

label {
	font-size: 1.2em;
}

/*//////// PANELS ////////////*/

.panel-group .list-group {
	margin-bottom: 0;
}

.panel-group .list-group .list-group-item {
	border-radius: 0;
	border-left: none;
	border-right: none;
}

.panel-group .list-group .list-group-item:last-child {
	border-bottom: none;
}

.panel > .dts {
	background-color: #27ae60; 
	color:;
}

li.borderless {
  border-top: 0 none;
}

.borderless .list-group-item {
	border: 0;
	padding: 3px 0 3px 10px;
}

.borderless input {
	margin-right: 15px;
}

.breadcrumb {padding-bottom: 18px;}

.link-list > a {
	text-transform: capitalize;
}

/*//////// BACKGROUNDS ///////*/

#background-container-1 {
	background-image: url("../images/0001.jpg");
	background-position: 0 -550px;
}

/*///////// TABLES //////////*/

#example th.news {
	background:none;
}

.pagination {
	float: right;
}

/*//////////  //////////////////////*/

.dataTables_filter {
	float: right;
}

/*//////////THUMBNAILS  //////////////////////*/
.output > div > .row > .col-md-3 {
	text-align: center;
}

.row > .col-md-3 > img.thumbnail{
	width:100%;
}

.row > .col-md-3 > h4 {
	margin-bottom: 0;
}
/*////////////////////// EMBEDDED ITEMS //////////////////*/
