.outer_modal{
	position: fixed;
	display: none;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,0.4);
	height: 100%;
	width: 100%;
}
.inner_modal{
	display: block;
	padding : 20px;
	margin: auto;
	margin-top: 80px;
	background-color: white;
	width: 80%;
}